In [1]:
import pandas as pd
from datetime import datetime
# 读取数据保存为data
data = pd.read_csv("./users.csv",encoding = 'gbk')

# 数据探索

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43983 entries, 0 to 43982
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 43916 non-null  object
 1   register_time           43983 non-null  object
 2   recently_logged         43983 non-null  object
 3   number_of_classes_join  43983 non-null  int64
 4   number_of_classes_out   43983 non-null  int64
 5   learn_time              43983 non-null  object
 6   school                  10571 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.3+ MB

## 删除user_id为空的数据

In [6]:
#删除一行用户id为空的数据
data = data[data['user_id'].notnull()]

## 删除重复值
### 用duplicates()方法对表user.csv中的重复出现的user_id用户ID进行删除,只保留第一次出现的
### 因为每个用户注册后的ID是唯一的,注册时间是是唯一的,不可能有同是时刻注册了两个相同的用户名
### 删除后的数据存储为new_data

In [7]:
data['user_id'].value_counts().head(5)

用户38350    3
用户40732    2
用户36488    2
用户31807    2
用户25993    2
Name: user_id, dtype: int64

In [3]:
data.duplicated(subset='user_id').value_counts()
new_data = data.drop_duplicates(subset='user_id',keep = 'first',inplace = False)
#删除学校这一列
del new_data['school']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43908 entries, 0 to 43982
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 43908 non-null  object
 1   register_time           43908 non-null  object
 2   recently_logged         43908 non-null  object
 3   number_of_classes_join  43908 non-null  int64
 4   number_of_classes_out   43908 non-null  int64
 5   learn_time              43908 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.3+ MB

In [4]:
(new_data['recently_logged'] == '--').value_counts()

False    38533
True      5375
Name: recently_logged, dtype: int64

In [5]:
#任务 1.2 对用户信息表中 recently_logged 字段的“--”值进行必要的处理，
#将处理结果保存为“task1_2.csv”，并在报告中描述处理过程。
new_data1 = new_data[new_data['recently_logged'] != '--']
rg_data = new_data1['register_time'].apply(lambda x:datetime.strptime(x,'%Y/%m/%d %H:%M'))
rc_data = new_data1['recently_logged'].apply(lambda x:datetime.strptime(x,'%Y/%m/%d %H:%M'))

In [6]:
#pd.set_option('display.max_rows', None)
a=(rc_data - rg_data).value_counts()

In [189]:
#保存表格输出
new_data.to_excel('./task1_2.xlsx',index = False)
new_data

,user_id,register_time,recently_logged,number_of_classes_join,number_of_classes_out,learn_time
0,用户44251,2020/6/18 9:49,2020/6/18 9:49,0,0,41.25
1,用户44250,2020/6/18 9:47,2020/6/18 9:48,0,0,0
2,用户44249,2020/6/18 9:43,2020/6/18 9:43,0,0,16.22
3,用户44248,2020/6/18 9:09,2020/6/18 9:09,0,0,0
4,用户44247,2020/6/18 7:41,2020/6/18 8:15,0,0,1.8
...,...,...,...,...,...,...
43978,用户6,2018/9/11 16:13,2018/9/11 16:14,0,0,0
43979,用户5,2018/9/10 15:48,2020/6/15 17:13,9,5,"2,116.15"
43980,用户4,2018/9/10 14:15,2020/6/5 9:50,4,0,341.2
43981,用户3,2018/9/4 13:32,2020/6/18 9:18,2,1,370.35
43982,用户1,2018/9/3 10:00,2018/11/4 11:20,0,0,0

In [7]:
a

0 days 00:00:00      8124
0 days 00:01:00      4568
0 days 00:02:00      1078
0 days 00:03:00       415
0 days 00:04:00       253
                     ...
45 days 19:08:00        1
13 days 05:16:00        1
25 days 00:42:00        1
56 days 09:13:00        1
161 days 16:53:00       1
Length: 20312, dtype: int64

In [157]:
new_data['recently_logged'][0]=1

D:\Study\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
8124/20312

0.39996061441512404